<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Watchlist-MovieFinder</title>
    <link href="/styles/watchlist.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700;800&family=Sora:wght@400;500;600&display=swap"
        rel="stylesheet">
</head>

<body>
    <nav id="navbar">
        <ul>
            <li><a href="/" style="color: #FFCB05;">🎬MovieFinder</a></li>
            <li><a href="/#catalog">Catalog</a></li>
            <li><a href="/watchlist">Watch List</a></li>
            <li><a href="/about">About</a></li>
        </ul>
    </nav>
    <h2>My Watchlist</h2>
    <div class="watchlist-container">
        <div id="watchlist-items">
            #watchlist#
        </div>
    </div>
    <script src="/scripts/watchlist-events.js"></script>
</body>

</html>